.mago- {
    &sidebar {
        z-index: 90;
        left: 0;
        transition: 0.3s left ease;
        
        li {
            > a {
                vertical-align: middle !important;
                display: flex;
                align-content: center;
                align-items: center;
                gap: 8px;
    
                > span {
                    font-size: 14px;
                }
            }

            > a.nav-link.user > span {
                margin-top: 14px;
                display: block;
            }
        }

        &-hide {
            display: none;
        }

        &-subtitle {
            text-transform: uppercase;
            color: #718096;
            font-weight: 600;
            font-size: 0.75rem;
            margin: 20px 0;
            display: block;
        }
    }
}

.text-white-01 {
    color: $white-01;

    &:hover {
        color: white
    }
}

@media (max-width: 1700px) {
    .mago- {
        &sidebar {
            li {
                > a.nav-link.user .email {
                    font-size: 10px;
                }
            }
        }
    }
}
